.videocard-img img,.video-card-set {
    width: 15rem;
}

.video-profile {
    width: 1.5rem;
    height: 1.5rem;
}

.position-relative {
    position: relative;
}

.position-absolute {
    position: absolute;
}

.video-timer {
    background-color:var(--mainBlack);
    top: 80%;
    left: 0;
    color: #fff;
}
.more-box{
    background-color: var(--mainWhite);
    padding: 0.4rem 0.8rem;
    border-radius: 1rem;
    border:1px groove var(--primaryColor);
    color:var(--mainBlack);
    letter-spacing: 0.1rem;
    z-index: 10;
    margin-left:-8.5rem;
}
.more-box label:hover{
    color: var(--primaryColor);
    cursor: pointer;
}