.bd-lft {
  border-left: 2px solid var(--primaryColor);
  padding-left:1rem;
}

.sidebar-content {
  width: fit-content;
}

.mg-left-sm {
  margin-right: 1rem;
}

.padding-top {
  padding: 1rem 0;
}

.icon-set img {
  width: 2rem;
  height: 2rem;
}

.icn-content li {
  margin-bottom: 1rem;
  font-weight: bold;
}

.margin-top {
  margin-top: 0.4rem;
}

.icn-content li:hover {
  color: var(--primaryColor);
}

.arrow-down {
  transform: skewY(1.5);
}
@media screen and (max-width:450px) {
  .icn-content li{
    display: none;
  }
}