@import url("https://fonts.googleapis.com/css2?family=BhuTuka+Expanded+One&family=Hubballi&family=Roboto+Mono:ital,wght@1,100&family=Roboto:wght@300&family=Source+Sans+Pro&family=Water+Brush&display=swap");

.App {
  font-family: cursive, sans-serif;
}

:root {
  --primaryColor: #687d29;
  --secondaryColor: #fbfbed;
  --mainWhite: #fff;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --mainSpacing: 0.1rem;
  --main-bg: #043044;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--mainBlack);
}

.user-profile {
  width: fit-content;
  padding: 1rem 0.7rem;
}

.triangle-box {
  width: 0;
  height: 0;
  margin-left: 4.7rem;
  border-left: 0.6rem solid transparent;
  border-right: 0.6rem solid transparent;
  border-bottom: 1rem solid var(--primaryColor);
}

.square-box {
  background-color: var(--primaryColor);
  border-radius: 0.7rem;
  padding: 0.3rem;
}

.primary-btn {
  background-color: var(--primaryColor);
  text-transform: uppercase;
  border: none;
  color:var(--mainWhite);
  padding: 0.5rem 0.7rem;
  border-radius: 0.3rem;
}

.cursor-pointer,
.list-none li {
  cursor: pointer;
}

.hover-white span {
  padding: 0.4rem 0.5rem;
  width: 5rem;
}

.hover-white span:hover {
  background-color: white;
  color: black;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.gap {
  gap: 0.4rem;
}

.gap-md {
  gap: 1rem;
}

.padding-md {
  padding: 1rem 0rem;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.vid-logo,
.profile-icn {
  width: 3rem;
  height: 3rem;
}

.title {
  color: var(--primaryColor);
  font-family: "Water Brush", cursive;
  line-height: 1rem;
  letter-spacing: 0.3rem;
  border:none;
}

.search-icn {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

.input-search[type="search"] {
  font-size: 1.2rem;
  width: 15rem;
  background: rgb(247, 241, 241);
  border: none;
  outline: none;
  padding: 3px 12px;
  border-radius: 0.4rem 0 0 0.4rem;
}

.input-search[type="search"]:focus {
  border: none;
  outline: none;
}

.search-box {
  width: 17rem;
  height: 2rem;
  border: 1px solid var(--primaryColor);
  border-radius: 0.4rem;
}

.flex-center {
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.justify-center {
  place-items: center center;
}

.flex-space-between {
  justify-content: space-between;
  flex-wrap: wrap;
}

.nav-bd {
  position: sticky;
  top: 0;
  z-index: 4;
  border-bottom: 1px solid var(--primaryColor);
}

.profile-set {
  position: relative;
}

.msg-box {
  display: inline-block;
  position: absolute;
  margin-left:-4rem;
}

.list-none {
  list-style-type: none;
  padding: 0.5rem 0rem;
}

.list-none li,
.footer-middle {
  padding: 0.4rem;
}

.bd-bottom {
  border-bottom: 2px double var(--primaryColor);
}

.flex-wrap{
  flex-wrap: wrap;
}
.place-items{
  align-items: center;
}
.img-responsive{
  width:22.8rem;
  height:100%;
}
.bd-sm{
  border: 1px solid var(--mainBlack);
  width: inherit;
}
.mg-sm{
  margin:1rem 0;
}
.mg-left-trash{
  margin-left: 100%;
}
.footer-btm {
  border: 1px solid var(--primaryColor);
  z-index: 3;
}
@media screen  and (max-width:410px){
  .img-responsive{
    width:100%;
  }
}